<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <h4>{{'adminIndexHEADLINE' | translate}}</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">{{'adminIndexDijagrami' | translate}}</h4>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <a href='/#/Admin/Charts'><h4>{{'adminIndexDijagrami' | translate}}</h4></a>
                    

                </div><!-- /.box-body -->
                <div class="box-footer">
                </div><!-- /.box-footer-->
            </div>
        </div>
       
    </div>
   

</body>
</html>
