<h4>Pregled šifarnika</h4>
<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h4 class="box-title">Šifarnici proizvoda</h4>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <a href="#/Sifarnici/Proizvodi"><h4>Proizvodi</h4></a>
                <a href="#/Sifarnici/GrupeProizvoda"><h4>Grupe proizvoda</h4></a>
                <a href="#/Sifarnici/JediniceMjera"><h4>Jedinice mjera</h4></a>
            </div><!-- /.box-body -->
            <div class="box-footer">
            </div><!-- /.box-footer-->
        </div>
    </div>
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h4 class="box-title">Šifarnici kadrova</h4>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <a href="#/Sifarnici/KlaseKadrova"><h4>Klase kadrova</h4></a>
                <a href="#/Sifarnici/Kadrovi"><h4>Kadrovi</h4></a>
            </div><!-- /.box-body -->
            <div class="box-footer">
            </div><!-- /.box-footer-->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h4 class="box-title">Šifarnici subjekata</h4>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <a href="#/Sifarnici/Subjekti"><h4>Subjekti</h4></a>

                <a href="#/Sifarnici/VrsteSubjekata"><h4>Vrste subjekata</h4></a>
                <a href="#/Sifarnici/VrsteOdnosaSubjekata"><h4>Vrste odnosa subjekata</h4></a>
                <a href="#/Sifarnici/OdnosiSubjekata"><h4>Odnosi subjekata</h4></a>
            </div><!-- /.box-body -->
            <div class="box-footer">
            </div><!-- /.box-footer-->
        </div>
    </div>
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h4 class="box-title">Šifarnici dokumenata</h4>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <a href="#/Sifarnici/KlaseDokumenata"><h4>Klase dokumenata</h4></a>
                <a href="#/Sifarnici/VrsteDokumenata"><h4>Vrste dokumenata</h4></a>
            </div><!-- /.box-body -->
            <div class="box-footer">
            </div><!-- /.box-footer-->
        </div>
    </div>
</div>