<!DOCTYPE html>
<html data-ng-app="AppModule">
<head>

    <meta name="keywords" content=" " />
    <meta name="description" content="" />
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>RMK</title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link href="content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="content/css/social-buttons.css" rel="stylesheet" />
    <link href="content/css/acute.select.css" rel="stylesheet" />
    <link href="content/css/angular-datepicker.min.css" rel="stylesheet" />
    <link href="content/css/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="content/css/sweet-alert.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="expandNavbar()">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <div style="min-width:400px;display:inline-block;">
                    <a class="navbar-brand" href="#/">{{'indexPocetna' | translate}}</a>
                    <div ng-controller="translateController">
                        <a class="btn btn-link" style="margin-top:5px;color:white;" ng-click="changeLanguage('ba')" translate="BUTTON_TEXT_BA"></a>
                        <a class="btn btn-link" style="margin-top:5px;color:white;" ng-click="changeLanguage('en')" translate="BUTTON_TEXT_EN"></a>
                    </div>
                </div>
               
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded" >
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="#">{{'indexDobrodosli' | translate}} {{authentication.userName}}</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/Sifarnici">{{'indexSifarnici' | translate}}</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/Izvjestaji">{{'indexIzvjestaji' | translate}}</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/Dokumenti">{{'indexDokumenti' | translate}}</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/Admin">{{'indexAdmin' | translate}}</a></li>

                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">{{'indexOdjava' | translate}}</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/login">{{'indexPrijava' | translate}}</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/signup">{{'indexRegistracija' | translate}}</a></li>
                   
                </ul>
             
            </div>

        </div>
    </div>
  

    <div class="container">
        <div data-ng-view="">
        </div>
    </div>

    <hr />

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-muted">NWT 2016</p>
                </div>
                
            </div>
        </div>
    </div>

    <!-- 3rd party libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
    
    <script src="scripts/angular-translate.js"></script>
    <script src="scripts/angular-translate-loader-url.js"></script>
    <script src="scripts/angular-animate.js"></script>
    <script src="scripts/acute.select.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/sweet-alert.js"></script>
    <script src="scripts/SweetAlert.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
    <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.ocean.js"></script>
    <script src="scripts/angular-fusioncharts.min.js"></script>
    <script src="scripts/dirPagination.js"></script>
    <!-- Load app main script -->
    <!--<script src="app/app.js?v=2"></script>-->
    <script src="app/AppModule.js"></script>
  
    <!-- Load services -->
    <script src="app/services/authInterceptorService.js?v=2"></script>
    <script src="app/services/authService.js?v=2"></script>
   
    <script src="app/services/tokensManagerService.js?v=2"></script>
    <script src="app/services/SifarniciService.js"></script>
    <script src="app/factories/SifarniciFactories.js"></script>
    <script src="app/services/DokumentiServices.js"></script>
    <script src="app/factories/DokumentiFactories.js"></script>
    <script src="app/services/ZaliheServices.js"></script>
    <!--<script src="app/services/LocaleService.js"></script>-->

    <!-- Load controllers -->
    <script src="app/controllers/indexController.js?v=2"></script>
    <script src="app/controllers/homeController.js?v=2"></script>
    <script src="app/controllers/loginController.js?v=2"></script>
    <script src="app/controllers/signupController.js?v=2"></script>
    <script src="app/controllers/confirmEmailController.js?v=2"></script>
    <script src="app/controllers/forgotPasswordController.js?v=2"></script>
    <script src="app/controllers/resetPasswordController.js?v=2"></script>
    <script src="app/controllers/tokensManagerController.js?v=2"></script>

    <script src="app/controllers/adminController.js"></script>
    <script src="app/controllers/adminChartsController.js"></script>
    <script src="app/controllers/SifarniciControllers.js?v=2"></script>

    <script src="app/controllers/DokumentiControllers.js"></script>

    <script src="app/controllers/IzvjestajiControllers.js"></script>
    <script src="app/controllers/translateController.js"></script>
    <!-- Load custom filters -->
    <!-- Load custom directives -->
    <!--<script src="app/directives/LanguageSelectDirective.js"></script>-->

</body>
</html>
