<h2>{{'addUserTitle' | translate}}</h2>
<table class="table table-bordered table-responsive">

    <tr>
        <td>{{'addUserUsername' | translate}}</td>
        <td><input type="text" ng-model="userName" ng-class="{ error: !userName }" />  </td>
    </tr>
    <tr>
        <td>{{'addUserEmail' | translate}}</td>
        <td><input type="text" ng-model="email" ng-class="{ error: !email }" />  </td>
    </tr>
    <tr>
        <td>{{'addUserPassword' | translate}}</td>
        <td><input type="password" ng-model="password" ng-class="{ error: !password }" />  </td>
    </tr>
</table>
<div class="alert-danger">
    {{error}}
</div>
<input type="button" class="btn btn-success" value="{{'addUserSave' | translate}}<" ng-click="save()" ng-disabled="!userName || !password || !email" />
<a class="btn btn-info" ng-click="back()">{{'addUserCancel' | translate}}<</a>
