


<h2>{{'sifarniciVrsteOdnosaSubjekataAddHEADLINE' | translate}}</h2>
<table class="table table-bordered table-responsive">

    <tr>
        <td>{{'sifarniciTableSifra' | translate}}</td>
        <td><input type="text" ng-model="sifra" ng-class="{ error: !sifra }" />  </td>
    </tr>
    <tr>
        <td>{{'sifarniciTableNaziv' | translate}}</td>
        <td><input type="text" ng-model="naziv" ng-class="{ error: !naziv }" />  </td>
    </tr>

</table>
<input type="button" class="btn btn-success" value="Dodaj" ng-click="save()" ng-disabled="!sifra || !naziv" />
<a class="btn btn-info" ng-click="back()">{{'sifarniciOdustani' | translate}}</a>
