

<div>

    <h2>{{'sifarniciVrsteOdnosaSubjekataIndexHEADLINE' | translate}}</h2>

    <a class="btn btn-primary" ng-click="addItem()"> {{'sifarniciAddNew' | translate}} </a>
    <br />
    <br />

    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>

                <th>{{'sifarniciTableSifra' | translate}}</th>
                <th>{{'sifarniciTableNaziv' | translate}}</th>


            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="i in collection">

                <td>{{i.sifra}}</td>
                <td>{{i.naziv}}</td>

                <td><a class="btn btn-info" ng-click="editItem(i.id)">Edit</a></td>
                <td><a class="btn btn-danger" ng-click="deleteItem(i.id)">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <div class="progress progress-striped active" data-ng-show="isBusy">
        <div class="progress-bar" role="progressbar" style="width: 100%;"></div>
    </div>
</div>

<div>{{error}}</div>

