<div>

    <h2>{{'dokumentiInventuraIndexHEADLINE' | translate}}</h2>

    <a class="btn btn-primary" ng-click="addItem()">Nova inventura</a>
    <br />
    <br />

    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>{{'dokumentiTableStavke' | translate}}</th>
                <th>{{'dokumentiTableRedniBroj' | translate}}</th>
                <th>{{'dokumentiTableBrojInventure' | translate}}</th>
                <th>{{'dokumentiTableDatumInventure' | translate}}</th>
                <th>{{'dokumentiTableOpis' | translate}}</th>
                <th>{{'dokumentiTableSkladiste' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate-start="i in collection | itemsPerPage:10">
                <td><a class="btn btn-info" ng-click="showStavke('Inventura', $index)">{{'dokumentiTableStavke' | translate}}</a></td>
                <td>{{i.redni_broj}}</td>
                <td>{{i.broj_inventure}}</td>
                <td>{{i.datum}}</td>
                <td>{{i.opis}}</td>
                <td>{{i.skladiste}}</td>
            </tr>
            <tr ng-show="i.isStavkeShown" dir-paginate-end>
                <td colspan="6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{'dokumentiTableRedniBroj' | translate}}</th>
                                <th>{{'dokumentiTableProizvod' | translate}}</th>
                                <th>{{'dokumentiTableZateceno' | translate}}</th>
                                <th>{{'dokumentiTableZaduzeno' | translate}}</th>
                                <th>{{'dokumentiTableCijena' | translate}}</th>
                                <th>{{'dokumentiTableVrijednost' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="j in collection[$index].stavke">
                                <td>{{j.redni_broj}}</td>
                                <td>{{j.proizvod}}</td>
                                <td>{{j.zateceno}}</td>
                                <td>{{j.zaduzeno}}</td>
                                <td>{{j.cijena}}</td>
                                <td>{{j.cijena*j.zateceno}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <dir-pagination-controls></dir-pagination-controls>
        </tfoot>
    </table>
    <div class="progress progress-striped active" data-ng-show="isBusy">
        <div class="progress-bar" role="progressbar" style="width: 100%;"></div>
    </div>
</div>

<div>{{error}}</div>

