<h2>Izmjena grupe proizvoda</h2>
<table class="table table-responsive table-bordered">

    <tr>
        <td>Šifra</td>
        <td><input type="text" ng-model="Item.sifra" ng-class="{ error: !Item.sifra }" />  </td>
    </tr>
    <tr>
        <td>Naziv</td>
        <td><input type="text" ng-model="Item.naziv" ng-class="{ error: !Item.naziv }" />  </td>
    </tr>
    <tr>
        <td>Nadgrupa</td>
        <td><select ng-model="Item.nadgrupa" ng-options="item.id as item.naziv for item in collection" ng-class="{ error: !Item.nadgrupa }"></select></td>
    </tr>

</table>
<input type="button" class="btn btn-success" value="Izmijeni" ng-click="save()" ng-disabled="!Item.sifra || !Item.naziv ||!Item.nadgrupa" />
<a class="btn btn-info" ng-click="back()">Odustani</a>
<div>{{error}}</div>
