<h2>Izmjena proizvoda</h2>
<table class="table table-responsive table-bordered">

    <tr>
        <td>Šifra</td>
        <td><input type="text" ng-model="Item.sifra" ng-class="{ error: !Item.sifra }" />  </td>
    </tr>
    <tr>
        <td>Naziv</td>
        <td><input type="text" ng-model="Item.naziv" ng-class="{ error: !Item.naziv }" />  </td>
    </tr>
    <tr>
        <td>Barcode</td>
        <td><input type="text" ng-model="Item.barcode" ng-class="{ error: !Item.barcode }" />  </td>
    </tr>
    <tr>
        <td>Grupa proizvoda</td>
        <td><select ng-model="Item.grupa_proizvoda" ng-options="item.id as item.naziv for item in collection1" ng-init="grupa_proizvoda = grupa_proizvoda|| collection1[0].naziv" ng-class="{ error: !grupa_proizvoda }"></select></td>
    </tr>
    <tr>
        <td>Jedinica mjera</td>
        <td><select ng-model="Item.jedinica_mjere" ng-options="item.id as item.naziv for item in collection" ng-init="jedinica_mjere = jedinica_mjere|| collection[0].naziv" ng-class="{ error: !jedinica_mjere }"></select></td>
    </tr>

</table>
<input type="button" class="btn btn-success" value="Izmijeni" ng-click="save()" ng-disabled="!Item.sifra || !Item.naziv ||!Item.barcode ||!Item.grupa_proizvoda ||!Item.jedinica_mjere" />
<a class="btn btn-info" ng-click="back()">Odustani</a>
<div>{{error}}</div>
