
<h2>{{'sifarniciSubjektiDeleteHEADLINE' | translate}}</h2>
<table class="table table-responsive table-bordered">

    <tr>
        <td>{{'sifarniciTableSifra' | translate}}</td>
        <td>{{Item.sifra}}</td>
    </tr>
    <tr>
        <td>{{'sifarniciTableNaziv' | translate}}</td>
        <td>{{Item.naziv}}</td>
    </tr>
    <tr>
        <td>{{'sifarniciTablePDVBroj' | translate}}</td>
        <td>{{Item.pdV_BROJ}}</td>
    </tr>
    <tr>
        <td>{{'sifarniciTablePoreskiBroj' | translate}}</td>
        <td>{{Item.poreskI_BROJ}}</td>
    </tr>
    <tr>
        <td>{{'sifarniciTableAdresa' | translate}}</td>
        <td>{{Item.adresa}}</td>
    </tr>
    <tr>
        <td>{{'sifarniciTableKontakOsoba' | translate}}</td>
        <td>{{Item.kontakT_OSOBA}}</td>
    </tr>
    <tr>
        <td>{{'sifarniciTableEmail' | translate}}</td>
        <td>{{Item.email}}</td>
    </tr>
    <tr>
        <td>{{'sifarniciTableTelefon' | translate}}</td>
        <td>{{Item.telefon}}</td>
    </tr>
    <tr>
        <td>{{'sifarniciTableFax' | translate}}</td>
        <td>{{Item.fax}}</td>
    </tr>


</table>




<input type="button" class="btn btn-danger" value="Obriši" ng-click="delete()" />
<a class="btn btn-info" ng-click="back()">{{'sifarniciOdustani' | translate}}</a>
<div>{{error}}</div>
