
<h2>{{'sifarniciKadroviDeleteHEADLINE' | translate}}</h2>
<table class="table table-responsive table-bordered">

    <tr>
        <td>{{'sifarniciTableJMBG' | translate}}</td>
        <td>{{Item.jmbg}}  </td>
    </tr>
    <tr>
        <td>{{'sifarniciTableIme' | translate}}</td>
        <td>{{Item.ime}} </td>
    </tr>
    <tr>
        <td>{{'sifarniciTablePrezime' | translate}}</td>
        <td>{{Item.prezime}} </td>
    </tr>
    <tr>
        <td>{{'sifarniciTableEmail' | translate}}</td>
        <td>{{Item.email}} </td>
    </tr>

</table>
<input type="button" class="btn btn-danger" value="Obriši" ng-click="delete()" />
<a class="btn btn-info" ng-click="back()">{{'sifarniciTableCancel' | translate}}</a>
<div>{{error}}</div>
