<h2>Izmjena kadrova</h2>
<table class="table table-responsive table-bordered">

    <tr>
        <td>JMBG</td>
        <td><input type="text" ng-model="Item.jmbg" ng-pattern="jmbgPattern" ng-class="{ error: !Item.jmbg }" />  </td>
    </tr>
    <tr>
        <td>Ime</td>
        <td><input type="text" ng-model="Item.ime" ng-pattern="/^[a-zA-Z\s]*$/" ng-class="{ error: !Item.ime }" />  </td>
    </tr>
    <tr>
        <td>Prezime</td>
        <td><input type="text" ng-model="Item.prezime" ng-pattern="/^[a-zA-Z\s]*$/" ng-class="{ error: !Item.prezime }" />  </td>
    </tr>

    <tr>
        <td>Email</td>
        <td><input type="text" ng-model="Item.email" ng-pattern="emailPattern" ng-class="{ error: !Item.email }" />  </td>
    </tr>
    <tr>
        <td>Klasa kadrova</td>
        <td><select ng-model="Item.klasa" ng-options="item.id as item.naziv for item in collection" ng-class="{ error: !klasa }" ng-init="klasa = klasa|| collection[0].naziv"></select></td>
    </tr>

</table>
<input type="button" class="btn btn-success" value="Izmijeni" ng-click="save()" ng-disabled="!Item.jmbg || !Item.ime ||!Item.prezime ||!Item.email ||!klasa" />
<a class="btn btn-info" ng-click="back()">Odustani</a>
<div>{{error}}</div>
